<!--SPDX-License-Identifier: CC0-1.0
SPDX-FileCopyrightText: Copyright © 2025 David Osipov (ORCID: 0009-0005-2713-9242, ISNI: 0000 0005 1802 960X)
SPDXID: SPDXRef-File-requirements-txt
FileType: TEXT-->

sbom4files